<odoo>
  <data>
    <!-- Top menu item -->

    <menuitem name="Impression Planning" id="will_fitness.menu_root"/>

    <!-- menu categories -->
    <!-- <menuitem name="Clients" id="will_fitness.client" parent="will_fitness.menu_root"/> -->
    <menuitem name="Imprimer Planning" id="will_fitness.impression" parent="will_fitness.menu_root"/>
    <menuitem name="Planning" id="will_fitness.planning" parent="will_fitness.menu_root"/>
    <!-- <menuitem name="Paiements" id="go_resa.paiements" parent="go_resa.menu_root"/>
    <menuitem name="Voyages" id="go_resa.voyages" parent="go_resa.menu_root"/>
    <menuitem name="Restriction" id="go_resa.restriction" parent="go_resa.menu_root"/>
    <menuitem name="Configuration" id="go_resa.configuration" parent="go_resa.menu_root"/> -->

  </data>
</odoo>